body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin:60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition:all;
}

nav ul li a:hover
{
    color: rgb(243, 43, 150);
    transform: scaleY(1.5);
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 2em 0;
}

header .intro {
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    margin: 0.5em 0 0;
}

.container {
    padding: 2em 2em;
    background-color: white;
    margin: 1em 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container h2 {
    font-size: 2.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0.5em;
    text-align: center;
}

#about .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#skills .skills-list {
    display: flex;
    justify-content: center;
    gap: 6em;
}

.skill {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    max-width: 100px;
    transition: all;
}
.skill:hover
{
     transform: scaleY(1.2);
     
}

#projects .projects-grid {
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

/* .project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
} */

#resume a {
    display: block;
    text-align: center;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 1em;
    margin-top: 1em;
}

#resume a:hover {
    background-color: #555;
}

#contact p {
    text-align: center;
    margin: 0.5em 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 1em;
}

footer p {
    margin: 0;
}
